/* USER VARIABLES SECTION */

:root {
	--accent: rgb(237, 105, 147);
	--text: #000000;
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: Montserrat; 
	--systemfont: Montserrat, PlayfairDisplay;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/Montserrat-Regular.woff2") format("woff2"); font-family: "Montserrat"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"); font-family: "PlayfairDisplay"; font-weight: 400; font-style: normal; }

/* GENERAL CSS SETTINGS */

/* ::placeholder { color: #000000; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; } */

body {
	background-color: #ffffff;
	/* font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden; */
}

/* USER STYLES */

.navbar
{
    background-image: url("../images/head_bg.png");
    background-size: cover;
	font-family: 'PlayfairDisplay';
    font-size: xx-large;
	color: #000000;
}

.scr1
{
    background-image: linear-gradient(transparent, white 95%), url("../images/main_bg.png");
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 10vh;
}

.scr1-design-row
{
    margin-top: 3vh;
}

.scr1-design-col
{
    background: linear-gradient(180deg, rgba(253, 224, 0, 0.8) 0%, rgba(254, 246, 178, 0.8) 76.04%, rgba(255, 251, 222, 0.632) 92.19%, rgba(255, 255, 255, 0) 100%);
    padding-left: 2vw;
    padding-right: 2vw;
}

.scr1-design-title
{
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 156.9%;
    /* or 63px */

    display: flex;
    align-items: center;
    letter-spacing: 0.115em;

    padding-top: 2vh;
    padding-bottom: 3vh;
}

.scr1-design-list
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 156.9%;
    /* or 31px */

    display: flex;
    align-items: center;
    letter-spacing: 0.115em;

    padding-top: 2vh;
    padding-bottom: 5vh;
}

.scr1-button-col
{
    text-align: center;
    padding-top: 5vh;
}

.scr1-button
{
    font-family: 'Montserrat';
    background: linear-gradient(263.22deg, #FDE000 38.91%, #BE264C 60.57%);
    box-shadow: 0px 4px 30px rgba(2, 2, 2, 0.31);
    border: none;
    border-radius: 45px;
    color:#FFFFFF;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 3vw;
    padding-left: 3vw;   
}

.scr2
{
    background-image: url("../images/service_bg.png");
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 10vh;
}

.scr2-title
{
    font-family: 'PlayfairDisplay';
    font-size: xx-large;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 2vh;
}

.scr2-table
{
    font-family: 'Montserrat';
    font-size: x-large;
    text-decoration: underline;
    text-align: center;
    color: #D02651;
}

.scr2-table-item
{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.scr2-button-col
{
    padding-top: 5vh;
    text-align: center;
}

.scr2-button
{
    box-sizing: border-box;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #FDE000;
    backdrop-filter: blur(25px);
    filter: drop-shadow(0px 4px 4px #BE264C);
    width: 70%;

    border-radius: 45px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 3vw;
    padding-left: 3vw;   

    font-family: 'Montserrat';
    font-weight: 600;
}

.scr3
{
    background-color: white;
    min-height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.scr3-title-col
{
    font-family: 'PlayfairDisplay';
    font-size: xx-large;
    text-decoration: underline;
    /* font-weight: 550; */
    letter-spacing: 0.1em;
    padding-bottom: 2vh;
}

.scr3-text-col
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.9%;
    /* or 31px */

    letter-spacing: 0.1em;

    padding-top: 2vh;
    padding-bottom: 5vh;
}

.scr3-h
{
    display: block;
}

.scr3-v
{
    display: none;
    background-image: url("../images/process_v.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    max-width: 400px;
    min-height: 1200px;
}

@media screen and (max-width: 1100px)
{
    .scr3-h {display: none;}
    .scr3-v {display: block;}
}

.scr3-tip-col
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.9%;
    text-align: center;

    letter-spacing: 0.1em;

    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.scr3-tip-col-v-l
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.9%;
    text-align: left;

    letter-spacing: 0.1em;

    padding-top: 110px;
    padding-bottom: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.scr3-tip-col-v-r
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.9%;
    text-align: right;

    letter-spacing: 0.1em;

    padding-top: 110px;
    padding-bottom: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.scr3-row-tip-bottom
{
    padding-left: 10vw;
    padding-right: 10vw;
}

.scr3-img-col
{
    text-align: center;
}

.scr3-img-h
{
    width:75vw;
}

.scr-end
{
    background-image: url("../images/footer_bg.png");
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 10vh;
}

.scr-end-text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    display: flex;
    align-items: center;
    letter-spacing: 1px;

    padding-top: 2vh;
    padding-bottom: 5vh;
    margin: auto;
   
    color: #FFFFFF
}

.scr-end-footer
{

    left: 0; bottom: 0;
    width: 100%;
    height: 233px;
    left: 0px;
    top: 6664px;

    background: #5C0F22;
}

.scr-end-social
{
    box-align: center;
    
}

/* .navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
} */

/* .image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
}

.accent {
	color: var(--accent);
	font-weight: bold;
}

.text {
	position: absolute;
width: 660px;
height: 182.02px;
left: 621px;
top: 410.23px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 156.9%;

display: flex;
align-items: center;
letter-spacing: 0.115em;

color: #000000;

} */